In [99]:
import pandas as pd
df = pd.read_csv ('/content/drive/MyDrive/Titanic-Dataset.csv')

In [82]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [83]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [84]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

Всего пустых ячеек

In [85]:
df.isnull().sum().sum ()

866

Количество пустых ячеек по столбцам

In [86]:
df.isnull().sum ()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Новый df с заполнением пустых ячеек в Age средним возрастом, Cabin обобщением A0 и Embarked - Ghost

In [87]:
newdf = df.fillna({'Age':30, 'Cabin':'A0', 'Embarked':'Ghost' })
newdf.isnull().sum ()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [88]:
newdf.nunique ()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          148
Embarked         4
dtype: int64

newdf.min выведёт все столбцы, newdf [ ].min для одного столбца. Избавиться от FutureWarning не смог(

In [89]:
newdf[{'Age', 'SibSp', 'Parch', 'Fare'}].min()

<ipython-input-89-8cb035df791e>:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  newdf[{'Age', 'SibSp', 'Parch', 'Fare'}].min()

SibSp    0.00
Age      0.42
Parch    0.00
Fare     0.00
dtype: float64

Использование list эффекта не дало...Конвертировать в list наверное не верный путь. Буду презнателен за вариант решения)

In [90]:
newdf[list[{'Age', 'SibSp', 'Parch', 'Fare'}]].max()

PassengerId                            891
Survived                                 1
Pclass                                   3
Name           van Melkebeke, Mr. Philemon
Sex                                   male
Age                                   80.0
SibSp                                    8
Parch                                    6
Ticket                           WE/P 5735
Fare                              512.3292
Cabin                                    T
Embarked                                 S
dtype: object

Немного колхозной аналитики по среднему через группировку

In [91]:
newdf_surv = newdf.groupby(['Survived'] )
newdf_surv['Pclass'].mean()

Survived
0    2.531876
1    1.950292
Name: Pclass, dtype: float64

Выше класс - выше выживаемость

In [92]:
newdf_surv['Age'].mean()

Survived
0    30.483607
1    28.595526
Name: Age, dtype: float64

Моложе - выше выживаемость

In [93]:
newdf_surv['SibSp'].mean()

Survived
0    0.553734
1    0.473684
Name: SibSp, dtype: float64

Меньше родственников - выше выживаемость

In [94]:
newdf_surv['Parch'].mean()

Survived
0    0.329690
1    0.464912
Name: Parch, dtype: float64

Родителей с детьми выжило больше. Не сошлось с примеров в задании.

In [95]:
newdf_surv['Fare'].mean()

Survived
0    22.117887
1    48.395408
Name: Fare, dtype: float64

Дороже билет - выше выживаемость, подтверждает уровень класса

In [96]:
newdf_surv = newdf.groupby(['Pclass'] )
newdf_surv['Survived'].mean()

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

Группировка по классу. Выше класс - выше выживаемость

In [98]:
newdf_surv = newdf.groupby(['Parch'] )
newdf_surv['Survived'].mean()

Parch
0    0.343658
1    0.550847
2    0.500000
3    0.600000
4    0.000000
5    0.200000
6    0.000000
Name: Survived, dtype: float64

Группировка по Parch. Выживаемость с детьми выше